.card {
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  padding: 20px 20px 40px 20px;
  
  transition: transform 450ms;
}
.card:hover {
  transform: scale(1.08);
}
.img {
  height: 300px;
  width: 200px;
  border-radius: 40px;
}
